DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/arizona_occul"
AUTH_SECRET="your-super-secret-jwt-key-min-32-chars-long-replace-this"
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="8390125338"
NODE_ENV="development"
